<section class="box box-6">
  <div class="masonry-2" id="videos">
    
  </div>
</section>

<aside class="box box-3">
  <button class="btn btn-primary" id="addVideo">Add a new video</button>
  <form id="addVideoForm">
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="details" placeholder="Details">
    <input type="text" id="url" placeholder="URL">
    <input type="text" id="genre" placeholder="Genre">
    <button>Add video</button>
  </form>
  <form id="editVideoForm">
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="details" placeholder="Details">
    <input type="text" id="genre" placeholder="Genre">
    <button>Edit video</button>
  </form>
</aside>



<dialog id="modalView" class='modal'></dialog>


