<!DOCTYPE html>
<html>
<head>
  <title>GoalsTube</title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="/jquery.js"></script>
  <script src="/scripts.js"></script>
</head>
<body>

<nav>
  <div class="brand">
    <span>GoalsTube<span>
    <i class="fa fa-futbol-o"></i>
  </div>
</nav>
<main class="container">
  <%= yield %>
</main>

</body>
</html>